node_modules
.next
out
dist
build
coverage
public
.DS_Store
.vscode
.idea
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
.next/traces
.next/cache
.next/standalone
.next/server/pages/api
.next/server/chunks
.next/server/static
.next/server/middleware-manifest.json
.next/server/next-server.js
.next/server/next.config.js
.next/server/polyfills.js
.next/server/react-loadable-manifest.json
.next/server/build-manifest.json
.next/server/prerender-manifest.json
.next/server/routes-manifest.json
.next/server/sitemap.xml
.next/static/development/pages/api
.next/static/development/pages/_app.js
